@import "../lib/component-animate";
@import "../lib/component-function";
@import "../lib/var";
/* nav in contents */
@optHeight:34px;
@hoverBorderTopWidth:2px;
.m-optnav{ width:100%; height:@optHeight + @hoverBorderTopWidth + 1px;
    a{ display:block; height:@optHeight; line-height:@optHeight; padding:0 15px; color:#666; }
    li{ height:@optHeight; padding-top:@hoverBorderTopWidth; margin-right:10px; border:1px solid #DDD; border-bottom:none; background-color:#FFF;
        &:hover,
        &.active{ border-top-color:@global_blue; border-top-width:@hoverBorderTopWidth; padding-top:@hoverBorderTopWidth - 1px; }
        &.active{ position:relative; z-index:2; height:@optHeight + 1px; }
    }
}