@import "../lib/component-function";
@import "../lib/var";
.m-tablewrap{
    h2{ height:21px; line-height:21px; font-weight:normal; font-size:16px; padding:8px 0; border-top:1px solid #DDD;
        span.spaceof{ display:inline-block; padding:0 8px; }
    }

    small{ display:inline-block; font-size:14px; padding-left:20px; }
    .table{ width:100%; border-collapse:collapse; table-layout:fixed;
        &.tdcenter{
            td{ text-align:center; }
        }
    }
    td, th{ border:1px solid #E0E0E0; font-size:14px; color:#666; line-height:18px;font-weight:normal; padding:8px 4px; word-break:break-all; }
    thead{ background-color:#F6F6F6;
        td, th{ text-align:center;}
    }
    th{ background-color:#F6F6F6; }
    tbody{
        tr:nth-of-type(2n+1){ background-color:#FCFFE8; }
        td, th{  }
    }
    a{ color:#0076A9;
        &.general{ display:inline-block; height:16px; line-height:16px; color:#0076A9; padding:3px 4px; .boxradius(all, 3px);
            &:hover{ color:#FFF; background-color:@global_blue; }
        }
        &.long{ display:block; max-width:130px; height:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:16px; color:#0076A9; padding:2px 4px; .boxradius(all, 3px);
            &:hover{ text-decoration:underline; }
        }
        &.disabled{ padding:2px 4px; color:#999; }
    }
    p{ height:24px; line-height:24px; padding:5px 0; }

    /* 状态标签 */
    .tdstatus{ display:inline; padding:1px 4px 2px; .boxradius(all, 3px); color:#FFF; font-size:12px;
        &.pending{ background-color:#639EC3; }
        &.using,
        &.ok{ background-color:#289053; }
        &.stoping{ background-color:#AAA; }
        &.unuse{ background-color:#CCC; }
    }

    /* 查看更多 */
    .s-showmore{ position:relative; width:100%; height:24px; padding:2px 0; margin-top:-8px;
        a, b{ display:block; position:absolute; width:100%; height:24px;line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-weight:normal; border:1px solid transparent; word-break:break-all; }
        &:hover{ z-index:99;
            a, b{ width:96%; height:auto; padding:3px 2%; white-space:normal; background-color:#FFF; border-color:#C1CFD9; box-shadow:2px 2px 6px #C7CBCE; line-height:24px; }
        }
    }


    /*  表头排序 */
    .sortwrap{ display:inline-block; position:relative; padding:0 20px 0 10px; height:20px; line-height:20px;
        .wd{ line-height:20px; }
        a{ display:block; position:absolute; right:0; width:13px; height:8px; line-height:10px; &:extend(.icon-sprite-y); }
        .ascending{ top:0; background-position:-5px -557px;
            &:hover,
            &.current{ background-position:-1px -606px; }
        }
        .descending{ bottom:0; background-position:-5px -582px;
            &:hover,
            &.current{ background-position:-1px -629px; }
        }
    }
}

