@import "../lib/normalize";
@import "../lib/component-animate";
@import "../lib/component-function";
@import "../lib/var";
/*  css sprite icon-y */
@spriteIconY:"../../images/icon-y.png";
@menuIconY:"../../images/platform_menu.png";
.icon-sprite-y{ background-image:url(@spriteIconY); background-repeat:no-repeat; }
.icon-menu-y{ background-image:url(@menuIconY); background-repeat:no-repeat; }
html, body{ height:100%; background:#FFF; }
body{ font-family:"Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial; font-size:14px; color:#666; }
/* 元件 */
/* btn */
.u-gbtn{ display:inline-block; height:32px; padding:0 10px; line-height:32px; font-size:14px; color:#FFF; background-color:@global_blue; .boxradius(all, 3px); text-decoration:none; border:none; cursor:pointer;
    &:hover{ background-color:@global_blue + #111; }

    &.u-gbtn-add{ padding-left:6px;
        &:before{ content:'+'; display:inline-block; font-size:21px; vertical-align:middle; margin-top:-7px; margin-right:5px; }
    }

    &.u-gbtn-import{ padding-left:6px; margin-right:10px;
        &:before{ content:'.'; display:inline-block; width:15px; height:15px; overflow:hidden;&:extend(.icon-sprite-y); background-position:1px -328px; text-indent:-999px; vertical-align:middle; margin-top:1px; margin-right:8px; }
    }

    &.u-gbtn-cancel{ margin-left:15px; background-color:#C1C1C1; }

    &[disabled],
    &.disabled{ background-color:#C1C1C1; color:#FFF; }
}
/* ipt */
.u-gipt{ height:20px; padding:4px 5px; line-height:20px; border:1px solid #B2C0D4;
    &:focus{ box-shadow:0 0 2px @global_blue; border-color:transparent; border-color:#8CBCE9 \9; }
    &.erro{ border-color:#F30; }
    &[disabled=disabled]{ border:none; background:none; }
    &[readonly]{ .userSelect(); border-color:#F3F3F3;
        &:focus{ box-shadow:none; border-color:#F3F3F3; }
    }
}
.g-wrap{ position:relative; width:100%; min-width:@global_wrapMinWith; min-height:100%; background-color:#FFF; }
.g-top{ width:100%; height:62px; background:@global_blue; }
.g-side{ position:absolute; top:62px; left:0; bottom:0; width:@global_sideWidth; background-color:#354052; }
.g-main{ width:auto; margin-left:@global_sideWidth; }
.g-nav{ width:100%; }
.g-dealWrap{ padding:@content-padding;
    p.tips{ height:30px; line-height:30px; padding-right:10px; }

    /* 带框特殊样式 */
    &.g-dealWrap-withborder{ padding:@content-padding; background-color:#F6F6F6; }
}
.g-content{ padding:@content-padding; }
.m-logowrap{ float:left; width:45%; height:32px; margin-top:16px; line-height:30px; font-size:27px; color:#FFF;
    .logo{ display:block; float:left; width:32px; height:32px; margin:0 24px 0 32px; }
}
.m-loginInf{ float:right; padding-right:32px;
    .setwrap{ position:relative; float:left; height:62px;
        &:hover{
            a.set{ background-color:#388CBE; }
            .setcontent{ display:block; }
        }
    }
    .setcontent{ display:none; width:100%;
        li{ height:30px; width:100%; }
        a{ display:block; height:30px; line-height:30px; padding:0;; background-position:9999px 9999px; text-align:center; background-color:#29A4EE;
            &:hover{ background-color:#157BB7; }
        }
    }
    a,
    span{ display:block; height:62px; padding:0 24px 0 40px; color:#FFF; font-size:14px; text-decoration:none; line-height:60px; &:extend(.icon-sprite-y);
        &.set{ background-position:18px 19px; }
        &.quit{ background-position:18px -20px; }
        &:hover{ background-color:#157BB7; }
    }
    .welcome{ float:left; height:36px; margin:15px 0 0 0; line-height:36px; color:#FFF; }
    .m-userface{ float:left; margin:15px 10px 0 20px; }
}
.m-userface{ width:36px; height:36px; .boxradius(all, 36px); overflow:hidden; box-shadow:1px 1px 5px #666;
    img{ display:block; float:left; width:36px; height:36px; }
}
.m-nav{ width:100%; margin:0; padding:0;
    @navTextIndent:58px;
    li{ list-style:none; margin:0; padding:0; }
    a{ color:#FFF; text-decoration:none; }
    & > li{ width:100%; font-size:14px; border-bottom:1px solid #273646; border-top:1px solid #3D4759;
        .subnav{ display:none; }
        &.active{ background-color:#273245; border-bottom:1px solid #333;
            a.nav{ background-color:#2279AE; }
            .subnav{ display:block; }
        }
    }
    .nav{ display:block; width:100%; height:50px; line-height:50px; text-indent:@navTextIndent;&:extend(.icon-menu-y); background-position:30px -73px;
        &.manageAgent{ background-position:25px 7px;
            &:hover{ background-position:25px -36px; }
        }
        &.personManage{ background-position:25px -81px;
            &:hover{ background-position:25px -124px; }
        }
        &.schoolManage{ background-position:25px -165px;
            &:hover{ background-position:25px -208px; }
        }
        &.schoolaffairsManage{ background-position:25px -252px;
            &:hover{ background-position:25px -295px; }
        }
        &.staffInput{ background-position:25px -338px;
            &:hover{ background-position:25px -381px; }
        }
        &.statistics{ background-position:25px -423px;
            &:hover{ background-position:25px -466px; }
        }
        &.monitorsSet{ background-position:25px -510px;
            &:hover{ background-position:25px -553px; }
        }
        &.agentNotice{ background-position:25px -595px;
            &:hover{ background-position:25px -638px; }
        }
        &.point{ background-position:25px -683px;
            &:hover{ background-position:25px -726px; }
        }
        &.activeconfig{ background-position:25px -768px;
            &:hover{ background-position:25px -811px; }
        }
        #transitionFunction(background-color, 0.5s);
    }
    .subnav{ padding:8px 0 8px @navTextIndent - 24px; }
    a.subnav-a{ display:block; width:100%; height:32px; line-height:32px; font-size:14px;
        b{ display:block; float:left; width:0; height:0; margin-top:12px; margin-right:7px; overflow:hidden; border:4px solid transparent; border-right-width:0; border-left-color:#C9D1DD; }
        &:hover,
        &.active{ color:@global_blue;
            b{ border-left-color:@global_blue; }
        }
    }
}
/* postion */
.m-position{ width:100%; height:36px; border-bottom:1px solid #DDD; box-shadow:0 0 5px #DDD;
    a, span{ display:inline-block; float:left; height:36px; line-height:36px; padding:0 20px; text-decoration:none; font-size:14px; }
    a,
    span.header{ position:relative; border-right:1px solid #DDD; background-color:#FFF; color:#666;
        &:after{ content:' '; display:block; display:none \9; position:absolute; right:-6px; top:12px; z-index:10; width:10px; height:10px; border:1px solid #DDD; border-left:none; border-bottom:0; #transformFunction(g, rotate(45deg)); background-color:#FFF; }
    }
    a:hover{ z-index:1; box-shadow:2px 0 5px #DDD; color:#2985DD }
    span.header{ color:#666; }
    span{ color:@global_blue }
}
/* simple form */
.s-pendingareawarp{ position:relative; width:500px; height:115px; margin:15px 10px; border:1px solid #DDD; background-color:#FFF; padding:5px;
    .iptsize{ position:absolute; right:15px; bottom:0; }
    .pendingarea{ float:left; border:none; margin:0; padding:0; border-bottom:1px dashed #DDD; .boxsizing(); resize:none; line-height:1.5em;; }
    .fit{ padding:0 3px; color:#1BA64D; font-size:16px; font-style:italic; font-weight:bold; }
    .out{ padding:0 3px; color:#F30; font-size:16px; font-style:italic; font-weight:bold; }
    &:focus{ box-shadow:0 0 2px @global_blue; border-color:transparent }
}

/* 弹窗 *//* 多选 */
.checkbox-ui{ display:block; min-height:14px; overflow:hidden; .userSelect(); cursor:pointer;
    b{ display:inline-block; display:none \9; float:left; width:12px; height:12px; overflow:hidden; border:1px solid #2D9BDD; .userSelect();
        &:after{ content:'.'; display:block; visibility:hidden; width:10px; height:10px; overflow:hidden; text-indent:999px; background:#2D9BDD; margin:1px; }
    }
    &.radio{
        b{ border-radius:12px;
            &:after{ width:8px; height:8px; margin:2px; border-radius:12px; }
        }
    }
    input{ display:block; float:left; margin-left:-15px; margin-left:0 \9; margin-top:4px; margin-right:5px \9; }
    input:checked + b:after{ display:block; visibility:visible }
    input[disabled] + b{ display:block; display:none \9; display:block \9 \0; visibility:visible; border-color:#DDD; background-color:#F6F6F6; }
    input[disabled]:checked + b:after{ display:none; }
}
.u-mask{ display:none; position:fixed; top:0; left:0; z-index:1200; width:100%; min-width:1260px; height:100%; background-color:#000; .opacity(0.65); }
.g-recipientContainer{ position:absolute; width:100%; top:55px; bottom:65px;
    &.g-recipientContainer-redList{ top:5px; }
}
.g-RecipientDeal{ position:absolute; bottom:0; width:100%; height:35px; padding:15px 0; text-align:center; border-top:1px dotted #DDD }
.g-selectRecipient{ position:fixed; z-index:1300; top:40px; bottom:40px; width:100%;
    .g-selectRecipientWrap{ position:relative; width:1000px; height:100%; border:3px solid @global_blue; .boxsizing(); background-color:#FFF; }
}
.m-selectRecipient{
    .selectContent{ position:absolute; top:0; bottom:65px; width:100%; padding:5px 10px; .boxsizing(); overflow:auto; background-color:#FFF; }
    .checkbox-ui{ float:left; height:18px; line-height:18px; margin:5px 0; cursor:pointer;
        b{ margin-top:2px; margin-right:5px; background-color:#FFF; }
        .userSelect();
    }
    .selectRecipient-all{ padding:10px 13px; }
    .selectRecipientWrap{ margin:10px 0; padding:5px; background-color:#FFF; }

    .selectRecipient-student{
        ul{ border:1px dashed #CCC; padding:4px 10px; }
        li{ float:left; margin:0 15px 0 0; }
    }
    .selectRecipient-classSingle{ margin-bottom:10px; }
    .selectRecipient-classTitle{ padding:10px 8px; color:#0F9A4D;
        a{ display:block; float:left; width:18px; height:18px; margin-top:4px; margin-left:10px; &:extend(.icon-sprite-y); background-position:-3px -553px; #transitionFunction(all, 0.3s);
            &.active{ background-position:-3px -574px; }
        }
        .info-title{ margin-left:25px; font-size:12px; color:#999; height:28px; line-height:28px; }
    }
    /* 关闭 */
    .closeRecipient{ display:block; position:absolute; right:-27px; top:-3px; width:24px; height:24px; background-color:@global_blue; &:extend(.icon-sprite-y); background-position:0px -464px; text-indent:-999px; overflow:hidden; }
}
.s-browerChange{ height:30px; line-height:30px; background-color:#8E1D24; color:#FFF; z-index:10000; width:100%; text-align:center;
    a{ display:inline-block; padding:0 6px; color:#F90; }
}
