@import "../lib/normalize";
@import "../lib/component-animate";
@import "../lib/component-function";
@import "../lib/teacher_var";
@iconyimgurl:'../../images/teacher_icon_y.png';
.icon-sprite-teacher-y{ background-image:url(@iconyimgurl); background-repeat:no-repeat; }
@iconnav:'../../images/teacher_nav.png';
.icon-nav{ background:url(@iconnav) no-repeat; }
/*  css sprite icon-y */
@spriteIconY:"../../images/icon-y.png";
.icon-sprite-y{ background-image:url(@spriteIconY); background-repeat:no-repeat; }
html, body{ height:100%; background:#FAFAFA; }
body{ font-family:"\5FAE\8F6F\96C5\9ED1", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial; font-size:14px; color:#666; }
/* 元件 */
/* btn */
.u-gbtn{ display:inline-block; height:32px; padding:0 15px; line-height:32px; font-size:14px; color:#FFF; background-color:@global_green; .boxradius(all, 3px); text-decoration:none; border:none; cursor:pointer;
	&:hover{ background-color:@global_green + #111; }

	&.u-gbtn-add{ padding-left:6px;
		&:before{ content:'+'; display:inline-block; font-size:21px; vertical-align:middle; margin-top:-7px; margin-right:5px; }
	}

	&.u-gbtn-import{ padding-left:6px; margin-right:10px;
		&:before{ content:'.'; display:inline-block; width:15px; height:15px; overflow:hidden;&:extend(.icon-sprite-y); background-position:1px -328px; text-indent:-999px; vertical-align:middle; margin-top:1px; margin-right:8px; }
	}

	&.u-gbtn-cancel{ margin-left:15px; background-color:#C1C1C1; color:#060 }

	&.u-gbtn-hollow{ margin-right:10px; border:1px solid #DDD; background:none; color:#666;
		&:hover,
		&.active{ background-color:#F5F5F5; }
	}

	&.u-gbtn-bluehollow{ height:24px; line-height:24px; margin-right:10px; border:1px solid #2D9BDD; background:none; color:#288CC8;
		&:hover{ background-color:#2D9BDD; color:#FFF; }
	}

	&[disabled]{ background-color:#C1C1C1; }
}
/* ipt */
.u-gipt{ height:20px; padding:4px 5px; line-height:20px; border:1px solid #DDD;
	&:focus{ box-shadow:0 0 2px #0CC217; border-color:transparent; border-color:#71DF7C \9; }
	&.erro{ border-color:#F30; }
	&[disabled=disabled]{ border:none; background:none; }
	&.u-gipt-transparent{ background:none; border:1px dotted #DDD; }
	&.u-gipt-transparent[disabled=disabled]{ border:none; }
	&.u-gipt-readonly{ background:none; border:none; box-shadow:none; }
	/* 日期选择 */
	&.u-gipt-date{ width:95px; &:extend(.icon-sprite-teacher-y); background-position:77px -815px; font-size:12px; }
	&.u-gipt-time{ width:64px; text-align:center; font-size:12px; }
	/* 时间选择 */
	&.u-gipt-slt{ width:64px; height:30px; margin-left:5px; margin-right:5px; }
	/* 考试标题 */
	&.u-gipt-examTitle{ width:215px; }
}
.u-mask{ display:none; position:fixed; top:0; left:0; z-index:1200; width:100%; min-width:1260px; height:100%; background-color:#000; .opacity(0.65); }
/* layout */
.g-wrap{ width:100%; min-width:@global_wrapMinWith; }
@topHeight:36px;

/* top */
.g-top{ width:100%; height:@topHeight; background-color:@topColor; color:#FFF;
	.versionInf{ height:@topHeight; line-height:@topHeight; color:#000; padding-left:10px; }
}
.m-toplogininf{ margin-right:80px;
	.welcome{ height:@topHeight; line-height:@topHeight; color:#000; padding:0 10px;
		&.welcome-name{ padding:0; }
	}
	a.set{ display:block; height:@topHeight; padding:0 15px 0 15px; line-height:@topHeight; color:#000;
		&:hover{ background-color:#668E3C+#222; }
	}
	a.quit{ display:block; height:@topHeight; padding:0 15px 0 26px; line-height:@topHeight; &:extend(.icon-sprite-teacher-y); background-position:4px 6px; color:#000;
		&:hover{ background-color:#668E3C+#222; }
	}
}
.m-topusernav{ position:relative; z-index:999; min-width:80px; height:@topHeight;
	.mnav{ position:relative; display:block; height:36px; line-height:@topHeight; text-align:center; padding-right:25px; padding-left:10px; color:#000; cursor:pointer;
		&:after{ content:'.'; display:inline-block; position:relative; top:2px; left:6px; width:0; height:0; overflow:hidden; border:5px solid transparent; border-top-color:#000; }
	}
	.mnav-role{ padding-left:5px; text-align:left; }

	.subnav{ display:none; width:100%; background-color:#668E3C + #222; }
	&:hover{
		.subnav{ display:block;
			li{ width:100%; height:30px; line-height:30px; }
			a{ display:block; height:30px; color:#FFF; text-indent:10px;
				&:hover{ background-color:#668E3C + #111; }
			}
		}
		.mnav{ background-color:#668E3C; color:#C1D4AE }
	}
}
/*   head  */
@headHeight:72px;
@navimgurl:'../../images/teacher-nav-bg.jpg';
.g-head{ display:table; width:100%; padding:0 80px; height:@headHeight; box-shadow:0 3px 3px #AAA; background:url(@navimgurl) center top repeat-y; background-color:#393939; .boxsizing(); }
.g-headwrap{ display:table-row; height:@headHeight;
	.nav_a{ display:block; width:135px; height:40px; line-height:40px; margin:(@headHeight - 40px) /2 auto; color:#FFF; }
	b.icon{ display:block; float:left; width:40px; height:40px; margin-right:5px;  &:extend(.icon-nav);
		&.icon-myschool{ background-position:-3px 1px; }
		&.icon-myclass{ background-position:-48px 1px; }
		&.icon-mystudent{ background-position:-92px 1px; }
		&.icon-download{ background-position:-211px 1px; }
		&.icon-source{ background-position:-135px 1px; }
		&.icon-classcircle{ background-position:-171px 1px; }

	}

	.nav{ display:table-cell; border-left:1px solid #626262; border-right:1px solid #464646; }

	.navSingle{ position:relative; z-index:888; width:100%; height:@headHeight - 1px; padding-top:1px;
		&:hover,
		&.active{ background-color:#272727;
			.nav_a{ color:@topColor; }
			b{
				&.icon-myschool{ background-position:-3px -39px; }
				&.icon-myclass{ background-position:-48px -38px; }
				&.icon-mystudent{ background-position:-92px -38px; }
				&.icon-download{ background-position:-211px -39px; }
				&.icon-source{ background-position:-135px -38px; }
				&.icon-classcircle{ background-position:-171px -39px; }
			}
		}

		&:hover{
			.subnav{ display:block; }
		}
	}

	.subnav{ display:none; width:100%; border:2px solid @topColor; border-top:none; margin-top:-1px; .boxsizing();
		li{ width:100%; height:36px; line-height:36px; text-align:center; }
		a{ display:block; width:100%; height:36px; background-color:#FFF; color:#000; border-bottom:1px solid #DDD;
			&:last-child{ border-bottom:none; }
			&:hover{ background-color:@topColor; color:#FFF; }
			&.active{ background-color:@topColor + #333; color:#060; }
		}
	}
}
@logoimg:'../../images/teacher_logo.png';
.s-toplogo{ display:block; width:115px; margin-left:80px; margin-top:4px; font-size:20px; color:#000; }
.g-mainHead{
	&.withborder{ border-bottom:1px solid #DDD }
	h2{ margin:10px 20px 0 0; height:40px; line-height:36px; padding:0 20px; font-weight:normal; font-size:16px; /* background: #61b20c; */ text-align:center; color:#61B20C;
	}
}
.g-dealWrap{ padding:15px 0 16px;
	p.tips{ height:30px; line-height:30px; padding-right:10px; margin:0; }
	h2{ height:30px; line-height:30px; font-size:16px; font-weight:normal; margin:0; padding:0 20px 0 0; }
	&.nopt{ padding-top:0; }
}
/* pannel */
.g-mypannel{ position:absolute; top:@topHeight + @headHeight + 10px; z-index:10; width:30px; }
.g-pannelwrap{ width:280px; margin-left:-250px; #transitionFunction(all, 0.5s);
	&.active{ margin-left:0; }
	.controller{ display:block; float:right; width:14px; padding:8px; border:2px solid #A0D469; border-left:none; text-align:center; background-color:#FFF; cursor:pointer;
		&:hover{ background-color:#A0D469; color:#FFF; }
	}
	.wrap{ float:left; width:204px; padding:10px 20px; border:2px solid #A0D469; background-color:#FFF; }
	.pannel-part{ padding-bottom:10px; }
	h2{ height:36px; line-height:24px; font-size:18px; border-bottom:2px solid #DDD; font-weight:normal; }
	.icon{ display:block; float:left; width:24px; height:24px; &:extend(.icon-sprite-teacher-y);
		&.icon-1{ background-position:-1px -30px; }
		&.icon-2{ background-position:-1px -65px; }
		&.icon-3{ background-position:-1px -100px; }
		&.icon-4{ background-position:-1px -133px; }
	}
	.pannel-content{ width:175px; float:right;
		a{ color:#09F; cursor:pointer;
			&:hover{ color:#FF5D21; }
		}
	}
	h3{ padding:0; margin:0; height:26px; line-height:26px; font-size:14px; font-weight:normal; }
	.pannelul{ padding:2px 0; }
	li{ line-height:24px; font-size:12px; }

	.hw-set{ float:right; margin-right:10px; }

	/* 考勤 */
	.attendance{ margin:6px 0;
		li{ width:49%; float:left; }
		.ti{ display:block; height:20px; line-height:18px; text-align:center; font-size:16px; }
	}
	a.abig{ display:block; height:42px; line-height:42px; font-size:24px; text-align:center;
		&.abig-tal{ text-align:left; }
	}
}
.g-main{ padding:0 80px; margin-top:3px; }
.g-content{
	&.g-content-withborder{ border:1px solid #DDD; }
	&.g-content-borderWithoutTop{ border:1px solid #DDD; border-top:none }
	&.g-content-padding{ padding:20px; .boxsizing() }
	&.g-content-bgw{ background-color:#FFF; }
}
.g-contentHead{ padding:10px 20px;
	.fallBack{ float:left; height:30px; line-height:30px;
		a{ color:#666;
			&:hover{ color:#FF783A }
		}
	}
}
/* 导航 */
.m-position{ float:right; height:30px; line-height:30px; margin:10px 0 0 0; padding-left:26px; &:extend(.icon-sprite-teacher-y); background-position:0 -164px; color:#666;
	a{ color:#3174A6;
		&:hover{ color:#FF783A }
	}
}
/* 多选 */
.checkbox-ui{ display:block; min-height:14px; overflow:hidden; .userSelect(); cursor:pointer;
	b{ display:inline-block; display:none \9; float:left; width:12px; height:12px; overflow:hidden; border:1px solid #8BC251; .userSelect();
		&:after{ content:'.'; display:block; visibility:hidden; width:10px; height:10px; overflow:hidden; text-indent:999px; background:#8BC251; margin:1px; }
	}
	input{ display:block; float:left; margin-left:-15px; margin-left:0 \9; margin-top:4px; margin-right:5px \9; }
	input:checked + b:after{ display:block; visibility:visible }
	input[disabled] + b{ display:block; display:none \9; display:block \9 \0; visibility:visible; border-color:#DDD; background-color:#F6F6F6; }
	input[disabled]:checked + b:after{ display:none; }
}
.g-tableListFilter{
	h2{ height:28px; line-height:28px; margin:0 10px 0 0; font-size:16px; font-weight:normal; }
	.linkinbox{ display:inline-block; position:relative; height:26px;; border:1px solid #DDD; line-height:26px; padding:0 10px; margin:0 0 0 10px; color:#666;
		&:hover{ color:#0CC217 }
		.num{ position:absolute; right:-5px; top:-5px; width:15px; height:15px; border-radius:10px; background-color:#CC3515; color:#FFF; text-align:center; line-height:15px; font-size:12px; }
	}
}
.s-browerChange{ height:30px; line-height:30px; background-color:#8E1D24; color:#FFF; text-align:center;
	a{ display:inline-block; padding:0 6px; color:#F90; }
}