@import "../pub/teacher_global";
@import "../lib/component-function";
@import "../module/m-teacherNav";
@import "../plug/ymPromptTeacher";
@import "../module/m-selectui";
.g-content{ padding:20px; margin-bottom:20px; }
.m-scheduleHead{ height:32px;
	h2{ height:28px; line-height:28px; margin:0 10px 0 0; font-size:16px; font-weight:normal; }
	.edit{ }
}
.m-classSchedule{ background-color:#FFF; margin:20px 0 0; border:2px solid @global_green + #333;

	table{ width:100%; border-collapse:collapse; }
	thead{ background-color:#F6F6F6; }
	td, th{ width:1164/8px; padding:9px 0; border:1px solid #DDD; vertical-align:middle; text-align:center; }
	tbody{
		th{ font-weight:normal; }
	}
	.u-gipt{ width:80%; text-align:center; cursor:pointer }
	.u-gipt[disabled]:focus{ box-shadow:none; border:none; }
	.u-gipt[disabled]{ cursor:default; }
}
.m-selectui-schedule{ width:120px; margin-right:10px;
	.intotext{ width:106px; }
	.optionwarp{
		li{ font-size:14px; height:30px; line-height:30px; }
	}
}
.m-courseWrap{ display:none; position:absolute; width:224px; background-color:#FFF; border:1px solid @global_green;
	li{ float:left; width:112px; height:32px; text-align:center; line-height:32px; cursor:pointer; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:12px;
		&:hover{ background-color:@global_green; color:#FFF; }
	}
}
.m-create{ height:365px /*470px*/; text-align:center; line-height:365px; }