@import "../pub/teacher_global";
@import "../lib/component-function";
@import "../module/m-teacherNav";
@scale:31/36;
ul.g-videoWrap{ width:1152px; padding:10px; margin:30px auto; border:1px solid #DDD;

	li{ display:none; float:left; background-color:#E6ECE6;}
	span.name{ display:block; position:absolute; bottom:0; left:0; width:100%; height:30px; line-height:30px; text-align:center; background-color:#000; background-color:rgba(0, 0, 0, 0.5); font-size:12px; color:#FFF;; }
	p.class{ width:97%; height:30px; line-height:30px; text-align:right; padding-right:3%; }
	a.videowrap{ display:block; position:relative; width:360px; height:310px; color:#FFF; font-size:14px;
		&.bg-vxc{ background:url("../../images/vbg-xc.jpg"); -webkit-background-size:cover; background-size:cover; }
		&.bg-vst{ background:url("../../images/vbg-st.jpg"); -webkit-background-size:cover; background-size:cover; }
		&.bg-vbj{ background:url("../../images/vbg-js.jpg"); -webkit-background-size:cover; background-size:cover; }
	}

	@n3width:360px;
	&.n3 li{ width:@n3width; height:@scale * @n3width + 30px; }
	&.n3 .videowrap{ width:@n3width; height:@scale * @n3width; }

	@n2width:552px;
	&.n2 li{ width:@n2width; height:@scale * @n2width + 30px; }
	&.n2 .videowrap{ width:@n2width; height:@scale * @n2width; }

}
@videoUnitWidth:980px;
.m-videoUnit{ width:@videoUnitWidth; margin:30px auto; padding:10px;
	.info{ width:100%;
		.title{ font-size:16px; padding:0; margin:0; height:36px; line-height:36px; }
		a{ display:block; height:36px; line-height:36px; color:#09F }
	}
	.video{ width:@videoUnitWidth; height:@videoUnitWidth * @scale; }
	.videowrap{ width:720px; height:540px; margin:30px 140px; }
}
