@import "../pub/global";
@import "../lib/component-function";
@import "../module/m-optnav";
@import "../module/m-selectui";
@import "../module/m-search";
@import "../plug/ymPrompt";
@import "../module/m-table";
@import "../plug/simplePagination";
@import "../module/m-simpleForm";
@import "../module/s-pendingstyle";
@import "../module/m-checkradio";
.g-addStudent{ padding:0 20px;
    h2{ width:100%; height:36px; line-height:36px; font-size:16px; margin:0; padding:0; font-weight:normal; }
}
.g-addStudentGroup{ padding-top:20px; }
.g-addStudentWrap{
    .g-addStudentLeft{ width:420px; padding-right:20px; border-right:1px dashed #DDD }
    .g-addStudentRight{ width:360px; padding-left:20px; }
    h3{ width:100%; height:30px; line-height:24px; font-size:14px; margin:0; padding:0; font-weight:normal; border-bottom:1px solid #DDD; }
}
.m-simpleFrom{ width:800px; margin:15px auto;
    .formlist{ padding:0;
        li{ padding:5px; }
    }
    .labelname{ width:100px; text-align:right;
        &.short{ width:56px; }
        &.labelname2{ width:98px; }
    }
    .u-gipt-long{ width:259px; }
    .u-gipt-long2{ width:241px; }
    .u-gipt-short{ width:93px; }
    .u-gipt-short1{ width:113px; }
    .u-gipt-short2{ width:73px; }
    .u-gbtn{ margin-left:10px; }

}
.m-formSubmitWrap{ padding:20px; margin-bottom:40px; border-top:1px solid #DDD; }
.m-selectui{
    &.m-selectui-school{ width:271px;
        .intotext{ width:257px; }
        .optionwarp{ max-height:300px; }
    }
    &.m-selectui-grade{ width:105px;
        .intotext{ width:91px; }
        .optionwarp{ max-height:300px; }
    }
    &.m-selectui-class{ width:105px;
        .intotext{ width:91px; }
        .optionwarp{ max-height:300px; }
    }
}
.s-alltips{ padding:5px 10px; margin-bottom:20px; border:1px solid #F90; background-color:#FFF0DD; font-size:14px; line-height:20px; }