@import "../pub/global";
@import "../module/m-optnav";
@import "../module/m-selectui";
@import "../plug/ymPrompt";
.m-creditsetContent{ width:885px;
    &.m-creditsetContentHead{ background-color:#FFF;
        dl{ background-color:#FCFCFC; font-weight:bold; border-top:1px solid #DDD; border-bottom:1px solid #DDD }
        dt{ padding:10px 0; text-align:center; }
        &.fixed{ position:fixed; z-index:100; top:0; }
    }
    &.m-creditsetContentbody{ padding-top:0; padding-bottom:100px;
        &.fixed{ padding-top:92px; }
    }

    dl{ width:100%; padding:0; margin:0; border-bottom:1px solid #DDD; }
    dl:after,
    .setUnit:after{ content:'.'; display:block; height:0; overflow:hidden; visibility:hidden; clear:both; }
    dt{ float:left; width:80px; line-height:30px; padding:10px 0; text-align:right; padding-right:30px; }
    dd{ float:left; width:750px; margin:0; padding-left:20px; border-left:1px solid #DDD; }
    .setUnit{ position:relative; height:30px; line-height:30px; padding:10px 0; border-bottom:1px dashed #DDD;
        &.nob{ border:none; }
        .u-gtip-cdset{ float:left; width:50px; margin-right:5px; text-align:center; }
        p{ float:left;
            &.setDetail{ width:610px; }
        }
    }
    .erroTips{ display:none; position:absolute; width:190px; padding:0 10px; left:745px; top:9px; border:1px solid #FF7A00; background-color:#FFF3E9; }
    .creditsetdeal{ padding:4px 0; margin:5px 0; text-align:right; }
}

.m-selectui-type{ width:180px;
    .intotext{ width:166px;}
}



