@import "../pub/global";
@import "../module/m-optnav";
@import "../module/m-selectui";
@import "../module/m-search";
@import "../plug/ymPrompt";
@import "../module/m-table";
@import "../plug/simplePagination";
@import "../module/m-checkradio";
@import "../module/m-simpleForm";
.g-dealWrap{ padding:0 0 20px 0; }
.m-simpleFrom{
	.formlist{ padding:20px 10px; }
	label.labelname{ width:85px; text-align:right; }
	.u-gipt{ width:305px; }
}
.m-selectui-roletype{ width:318px;
	input.intotext{ width:304px; }
	ul.optionwarp{
		width:100%;
	}
}
.m-chooseIpt{ width:625px;
	.all{ padding-bottom:8px; }
}
/*  角色管理列表  */
.m-tablewrap-tbfix table{ table-layout:fixed }