@import "../pub/global";
@import "../module/m-selectui";
@import "../module/m-search";
@import "../plug/ymPrompt";
@import "../plug/simplePagination";
@import "../module/m-simpleForm";
@import "../module/m-table";
.g-dealWrap{ padding:10px 0 0 0;
    .m-selectui,
    .u-gbtn{ margin-right:10px; }
}
.m-selectui-school{ width:180px; margin:0 auto;
    .intotext{ width:166px; font-size:12px;}
    .optionwarp{ max-height:280px;}
}
