@import "../pub/global";
@import "../module/m-optnav";
@import "../module/m-selectui";
@import "../plug/ymPrompt";
/*图表 下载 */

.m-statisticsdown{ margin:64px;
    li{ line-height:28px; padding:15px 0; }
    .labelName{ float:left; width:100px; height:28px; text-align:right; }
    .checkbox-ui{ margin-right:15px;
        b{ margin-top:7px; margin-right:3px; }
        input{ margin-top:9px; }
    }

    .checkbox-nav{ position:relative; padding:0 15px; margin-right:15px; overflow:hidden; .userSelect(); cursor:pointer; z-index:1;
        b{ display:block; position:absolute; top:0; left:0; width:28px; height:28px; &:extend(.icon-sprite-y); background-position:-2px -646px; }
        input{ display:block; float:left; margin-left:-42px; margin-left:0 \9; margin-top:4px; margin-right:5px \9; }
        input:checked + b{ display:inline-block; width:100%; height:30px; .boxsizing(); border:1px solid #81B4D4; background:#FFF; border-bottom:none; z-index:-1; }
    }

    .selectwrap{ float:left; width:780px;
        .stepbwrap{ position:relative; display:none; margin-top:-1px;; border:1px solid #81B4D4; padding:20px 20px 12px;
            .squire{ display:block; position:absolute; top:-8px; width:22px; height:10px; &:extend(.icon-sprite-y); background-position:0 -505px;
                &.squire-0{ left:0; }
                &.squire-1{ left:110px; }
                &.squire-2{ left:225px; }
            }
            div.isall{ float:left; width:100%; margin-top:12px; border-top:1px dotted #DDD; }
        }
    }
    .error{ display:none; float:left; line-height:20px; padding:5px 10px; border:1px solid #F30; background-color:#FFC; color:#F30; }
}
.m-selectui-date{ width:100px; margin-right:10px;
    .intotext{ width:84px; }
    .optionwarp{ max-height:120px; }
}
