@import "../pub/global";
@import "../module/m-optnav";
@import "../module/m-selectui";
@import "../plug/ymPrompt";
/*图表 */
.g-wrap{ min-width:1344px; }
.g-content-statistics{ background-color:#F0F3F6; }
.u-gipt-selectDate{ width:85px; }
.m-selectui-area{ height:30px; margin-left:10px;
    .intotext{ height:22px; line-height:22px; }
}
.s-viewmore{ display:inline-block; height:18px; padding:4px 6px; line-height:18px; border:1px solid #DDD; background-color:#FFF; color:#666;
    &:hover{ background-color:@global_blue; color:#FFF; border-color:@global_blue }
}
.st-topdealwrap{ width:1080px;
    span{ display:inline-block; line-height:30px; padding:0 10px; }
}
.g-statisticswrap{ width:1080px;
    h3, h4, h5{ font-size:14px; margin:0; padding:0; font-weight:normal;
        a{ color:@global_blue;
            &:hover{ text-decoration:underline; }
        }
    }
    h3{ text-indent:10px; }
    h4{ height:24px; line-height:24px; padding:20px; }
    h5{ padding:6px 10px; }
    .num{ padding:0 20px; height:105px; font-size:42px; }
    .snum{ padding:0 10px; font-size:26px; }
    table{ background-color:#FFF; margin:10px; border:1px solid #DDD; border-collapse:collapse;
    }
    td{ border:1px solid #DDD; vertical-align:top;
        &.tdnoboreder{ border-top:none; border-bottom:none; }
    }
}
p.num{
    &.blue{ color:#09C }
}
.m-tableheader{ height:28px; line-height:28px; padding:5px; }
table.m-schoolStatistics{ width:400px; margin-left:0; }
table.m-payuserStatistics{ width:400px; }
table.m-activeUserStatistics{ width:240px; margin-right:0; }
table.m-functionStatistics{ width:675px; margin:0;
    &.m-functionStatistics-sm{ width:390px; margin:0;
        .legend{ padding-right:15px;
            .box{ display:block; margin-left:10px; width:10px; height:10px; background-color:#56C1E6; margin-top:10px; margin-right:3px;
                &.r{ background-color:#FC4A79; }
            }
        }
    }
}
/*  */
.m-functionlines{ position:relative; width:600px; margin:0 auto; min-height:200px;
    ul{ width:100%; margin:30px auto;
        li{ height:40px; border-top:1px solid #DDD;
            .levelNum{ position:relative; top:-10px; width:70px; padding:0; float:left; text-align:center; background-color:#FFF; }
        }
    }
    @linewrapWidth:530px;
    @linewrapNum:9;
    @linewrapPerWidth:@linewrapWidth/@linewrapNum;
    @linewrapPerMargin:@linewrapPerWidth - 40px;

    .linewrap{ position:absolute; width:@linewrapWidth; left:70px; top:0; bottom:40px;
        .line{ position:absolute; width:40px; min-height:2px; bottom:0; background-color:#56C1E6;
            &.r{ background-color:#FC4A79; }
            span{ display:block; height:14px; line-height:14px; text-align:center; margin-top:-20px; color:#666; font-size:12px; }
        }
    }
    .levelCategory{ position:relative; margin-left:80px;
        p{ float:left; width:58px; text-align:center; font-size:12px; }
    }
    /*  积分兑换 */
}
.m-functionlines-sm{ width:320px;
    @linewrapWidth:250px;
    .linewrap{ position:absolute; width:@linewrapWidth; left:70px; top:0; bottom:40px; }
    .levelCategory{ position:relative; margin-left:80px;
        p{ float:left; width:120px; text-align:center; font-size:12px; }
    }
}
.m-selectui-year,
.m-selectui-month{ width:64px;
    .intotext{ width:50px; }
    .optionwarp{ width:143px;
        li{ width:35px; float:left; text-align:center;
        }
    }
}





