/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination{ list-style:none; }
.simple-pagination{ display:block; overflow:hidden; /*padding: 0 5px 5px 0;*/
    margin:0; }
.simple-pagination ul{ list-style:none; padding:0; margin:0;
    &:after{ display:block; clear:both; visibility:hidden; height:0; overflow:hidden; content:"."; }
}
.simple-pagination li{ list-style:none; padding:0; margin:1px; float:left; }
/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/
.compact-theme .jump{ width:36px; height:20px; font-size:12px; padding:0; border:1px solid #DDD; color:#0076A9; cursor:pointer;
    &:hover{ border-color:#0076A9; background-color:#0076A9; color:#FFF; }
}
.compact-theme .page-input{ padding:0; width:30px; margin:0 5px; text-align:center; outline:none; font-size:12px; border:1px solid #DDD; -webkit-box-shadow:inset 1px 1px 2px #CCC; -moz-box-shadow:inset 1px 1px 2px #CCC; box-shadow:inset 1px 1px 2px #CCC; }
.compact-theme a{ color:#333; }
.compact-theme ul li{ display:block; }
.compact-theme ul .show{ display:block !important; }
.compact-theme a, .compact-theme span{ float:left; font-size:14px; line-height:38px; font-weight:normal; text-align:center; /*border: 1px solid #AAA;*/ border-left:none; min-width:14px; padding:5px 2px; }
.compact-theme a{ color:#333 !important; }
.compact-theme a:hover{ text-decoration:underline; }
.compact-theme li:first-child a, .compact-theme li:first-child span{ /*border-left: 1px solid #AAA;    border-radius: 3px 0 0 3px;*/
}
.compact-theme li:last-child a, .compact-theme li:last-child span{ border-radius:0 3px 3px 0; }
.compact-theme .current{ font-weight:bold; color:#BBB;  }
.compact-theme .ellipse{ background:#EAEAEA; padding:0; cursor:default; }
/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span{ float:left; color:#666; font-size:14px; line-height:24px; font-weight:normal; text-align:center; border:1px solid #BBB; min-width:14px; padding:0 7px; margin:0 5px 0 0; border-radius:3px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); background:#EFEFEF; /* Old browsers */
}
.light-theme a:hover{ text-decoration:none; background:#FCFCFC; }
.light-theme .current{ background:#666; color:#FFF; border-color:#444; box-shadow:0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset; cursor:default; }
.light-theme .ellipse{ background:none; border:none; border-radius:0; box-shadow:none; font-weight:bold; cursor:default; }
/*------------------------------------*\
	Dark Theme Styles
\*------------------------------------*/

.dark-theme a, .dark-theme span{ float:left; color:#CCC; font-size:14px; line-height:24px; font-weight:normal; text-align:center; border:1px solid #222; min-width:14px; padding:0 7px; margin:0 5px 0 0; border-radius:3px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.dark-theme a:hover{ text-decoration:none; background:#444; }
.dark-theme .current{ background:#222; color:#FFF; border-color:#000; box-shadow:0 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset; cursor:default; }
.dark-theme .ellipse{ background:none; border:none; border-radius:0; box-shadow:none; font-weight:bold; cursor:default; }
